{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Jesus Grillet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="#">Blog</a>
          <a class="nav-item nav-link" href="#">Resume</a>
          <a class="nav-item nav-link" href="#">Contact</a>
        </div>
      </div>
    </nav>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">I'm Jesus Grillet</h1>
          <p class="lead text-muted">I'm a full stack developer and I love to provide solutions, so bring me your challenges and I will help you complete them. My websites and applications are made using Django and Python.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Contact me!</a>
          </p>
        </div>
      </section>


            <div class="album py-5 bg-light">
                <div class="container">

                  <div class="row">
                      {% for job in jobs.all %}
                        <div class="col-md-4">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{{ job.image.url }}">
                            <div class="card-body">
                              <p class="card-text">{{ job.summary }}</p>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                  </div>
                </div>
            </div>


    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p class="container text-center">&copy; Jesus Grillet, {% now "Y" %}</p>
      </div>
    </footer>

{% endblock %}